<div class="container-fluid">
  <div class="row title">
    <div class="col-md-3"></div>
    <div class="col-md-6"><h3>Game Consoles <span class="badge badge-primary">{{numberOfGameConsoles}} available</span></h3></div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ngx-carousel [inputs]="carouselOne">
        <ngx-item NgxCarouselItem *ngFor="let console of gameConsoles">
          <div>
            <a [routerLink]="['/games', console.id]">
              <img src="{{console.imageUrl}}" alt="{{ console.name }}" class="carouselImage">
              <div class="carouselContent">
                <h3 triggers="mouseenter:mouseleave" popover="IP Address: {{console.ipAddress}}">{{ console.name }}</h3>
                <p>{{ console.description }}</p>
              </div>
            </a>
          </div>  
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
    </div>  
  </div>
</div>