/* You can add global styles to this file, and also import other style files */


.carouselImage {
    display: block;
    margin: 0 auto;
    height: calc(100vh - 140px);
}

.carouselContent {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    bottom: 100px;
    background: rgba(0,0,0,.4);
    color: #fff;
}

.leftRs, .rightRs {
    display: none !important;
}