<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 go-back" style="vertical-align: middle;"><a [routerLink]="['/home']"><i class="fa fa-arrow-circle-left"></i> Back to game consoles</a></div>
    <div class="col-md-6"><h3 *ngIf="gameConsole != null">Games for {{gameConsole.name}} <span class="badge badge-primary">{{numberOfGames}} available</span></h3></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-carousel [inputs]="carouselOne">
        <ngx-item NgxCarouselItem *ngFor="let game of games">
          <div>
            <a (click)="openGameOptions(game, template)">
              <img src="{{game.imageUrl}}" alt="{{ game.name }}" class="carouselImage">
              <div class="carouselContent">
                <h3>{{ game.name }}</h3>
                <p>{{ game.description }}</p>
              </div>
            </a>
          </div>  
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{gameConsole.name}}: {{selectedGame.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseStartGameModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="{{selectedGame.imageUrl}}" alt="{{ selectedGame.name }}" class="modalImage">
    <p>
      {{selectedGame.description}}
    </p>
  </div>
  <div class="modal-footer">
    <span class="small text-green" *ngIf="startGameStatus != null && startGameStatus.status">{{startGameStatus.message}}</span>
    <span  class="small  text-red" *ngIf="startGameStatus != null && !startGameStatus.status">{{startGameStatus.message}}</span>
    <a class="btn btn-danger" (click)="onCloseStartGameModal()">Cancel</a>
    <a class="btn btn-primary" (click)="startGame(selectedGame)"><i class="fa fa-gamepad"></i> Start Game</a>
  </div>
</ng-template>